{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Assign Report Weights{% endblock %}

{% block content %}
<style>
       #tb td{
           max-width: 80px;
       }
       #tb th{
            max-width: 90px;
            background-color: #4285f4;
            font-weight: bold;
            color: white;
       }
       .tableMaterialHead{
           background-color: #4285f4;
           color: white;
           font-weight: bold;

       }
</style>
    <div class="container" style="padding: 50px 20px">

        <div class="heading" id="heading">
            <h3 class="text-black-50 font-weight-bold text-center">Assign Report Weight</h3>
        </div>
        <div class="container" id="challanDetails">

            <table class="table table-borderedsd table-primary">
                <tbody>
                    <tr>
                        <th>Party Code</th>
                        <td>{{ challan.party.get_display_text }}</td>
                        <th>Challan No</th>
                        <td>{{ challan.challan_no }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ challan.created_on.date }}</td>
                        <th>Time</th>
                        <td>{{ challan.created_on.time }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><hr>
        {% if challan.weight_set.exists %}
            <div class="entries" style="margin-top:50px">

                <h3 class="text-center text-black-50 font-weight-bold">Weight Entries</h3>

                <div class="table-responsive  text-nowrap">
                    <table class="table table-bordered table-hover">
                        <tbody id="tb">
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

    {% if formset %}

        <div class="container">
            <div class="container jumbotron tempForm">
                <h3 class="text-black-50 text-center font-weight-bold">Final Bill</h3>
                <hr>
                <form method="post" action="{{ challan.get_assign_reports_url }}">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                            <th>No</th>
                            <th>Material</th>
                            <th>Weight</th>
                            <th>Report Weight</th>
                            <th>Amount</th>
                        </thead>
                        {% for form in formset %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ form.instance.material }}</td>
                                <td>{{ form.instance.total_weight }}</td>
{#                                <td>#}
{#                                    <div class="col-lg-3">#}
{#                                        <input name="id_weight_set-{{ forloop.counter }}-report_weight" type="number" step="0.01" value="{{ form.report_weight.initial }}" class="tempInput form-control">#}
{#                                        {{ form.report_weight|as_crispy_field }}#}
{#                                    </div>#}
{#                                </td>#}
                                <td>
                                    <div class="col-lg-3">
                                        <input name="weight_set-{{ forloop.counter }}-report_weight" type="number" step="0.01" value="{{ form.report_weight.initial }}" class="tempInput form-control">
{#                                        {{ form.report_weight|as_crispy_field }}#}
                                    </div>
                                </td>
                                <td class="tempAmount" id="tempAmount_{{ forloop.counter }}">{{ form.instance.amount }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <button type="submit" class="btn btn-primary" id="formsetSubmitBtn">Submit</button>
                </form>
            </div>

{#             <div class="formset col-lg-6">#}
{#                <form method="post" id="formset" action="{{ challan.get_assign_reports_url }}">#}
{#                    {% csrf_token %}#}
{#                    {{ formset|crispy }}#}
{#                    <button type="submit" class="btn btn-primary">Submit</button>#}
{#                </form>#}
{#            </div>#}

        </div>


    {% endif %}

    <script>

        function assignEntriesTable() {

            let weightList = [
                                {% for weight in challan.weight_set.all %}
                                    [
                                        "{{ weight.material.get_display_text }}",
                                        {% for weight_entry in weight.weightentry_set.all %}{{ weight_entry.entry }},{% endfor %}
                                        {{ weight.rate_per_unit }},
                                        {{ weight.total_weight }},
                                        {{ weight.amount }},
                                    ],
                                {% endfor %}
                            ];


            let max_length=1;

            for(let i=0;i<weightList.length;i++)
            {
                if(max_length < weightList[i].length)
                {
                    max_length = weightList[i].length;
                }
            }
            for(let j=0,l=3;j<max_length;j++){
               let tr = document.createElement("tr");
               let th = document.createElement("th");
               let thStr;
               if(j<max_length-3){
                   // for Table Header Vertical
                   if (j===0){
                       thStr = "Materials"
                   }
                   else{
                       thStr = (j).toString();
                   }
                   let thxt = document.createTextNode(thStr);
                   th.appendChild(thxt);
                   tr.appendChild(th);
                    for(let i=0;i<weightList.length;i++){
                        let td = document.createElement("td");
                        let txt;
                        if (j===0){
                            td.classList.add("tableMaterialHead");
                        }
                        if(j< weightList[i].length-3){
                            txt= document.createTextNode(weightList[i][j]);
                        }else{
                            txt = document.createTextNode("");
                        }
                        td.appendChild(txt);
                        tr.appendChild(td);
                    }
                }else{
                   if (j === (max_length-1)){
                       thStr = "AMOUNT"
                   }
                   else if (j === (max_length-2)){
                       thStr = "TOTAL"
                   }
                   else if (j === (max_length-3)){
                       thStr = "RATE"
                   }
                   let thxt = document.createTextNode(thStr);
                   th.appendChild(thxt);
                   tr.appendChild(th);
                    for(let i=0;i<weightList.length;i++){
                        let len = weightList[i].length;
                        let td = document.createElement("td");
                        let txt = document.createTextNode(weightList[i][len-l]);
                        td.appendChild(txt);
                        tr.appendChild(td);
                    }
                    l--
                }
               document.querySelector('#tb').appendChild(tr);
            }
        }

        // Onlaod All Functions to be called from here
        $(function () {
            {% if challan.weight_set.exists %}
                assignEntriesTable();
            {% endif %}

        });
     </script>


{% endblock %}