{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Challan {{ challan.challan_no }}{% endblock %}

{% block content %}
    <br><br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="text-black-50 font-weight-bold text-center">Challan Details | {{ challan.challan_no   }}</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Party Code</th>
                            <td>{{ challan.party.get_display_text }}</td>
                            <th>Challan No</th>
                            <td>{{ challan.challan_no }}</td>
                        </tr>
                        <tr>
                            <th>Date Time</th>
                            <td>{{ challan.created_on.date }} - {{ challan.created_on.time }}</td>
                            <th>Created By</th>
                            <td>{{ challan.created_by }}</td>
                        </tr>
                        <tr>
                            <th>Total Amount</th>
                            <td>{{ challan.total_amount }}</td>
                            <th>Amount Payed</th>
                            <td>{{ challan.total_amount }}</td>
                        </tr>
                        <tr>
                            <th>Amount Payed SC</th>
                            <td>{{ challan.payment.calculate_payed_amount_succeed }}</td>
                            <th>Amount On Hold</th>
                            <td>{{ challan.payment.calculate_payed_amount_pending }}</td>
                        </tr>
                        <tr>
                            <th>Entries Done</th>
                            <td>
                                {% if challan.is_entries_done %}
                                    <i class="fa fa-lg text-success fa-check"></i>
                                {% else %}
                                    <a href="{{ challan.get_entries_url }}"><button class="btn btn-primary">Goto Entries</button></a>
                                {% endif %}
                            </td>
                            <th>Reports Done</th>
                            <td>
                                {% if challan.is_reports_done %}
                                    <i class="fa fa-lg text-success fa-check"></i>
                                {% else %}
                                    <a href="{{ challan.get_assign_reports_url }}"><button class="btn btn-primary">Goto Reports</button></a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Payment Done</th>
                            <td>
                                {% if challan.is_payed %}
                                    <i class="fa fa-lg text-success fa-check"></i>
                                {% else %}
                                    {% if challan.is_entries_done %}
                                        {% if challan.is_rates_assigned %}
                                            <a href="{{ challan.get_payment_add_url }}"><button class="btn btn-primary">Goto Payment</button></a>
                                        {% else %}
                                            <a href="{{ challan.get_assign_rates_url }}"><button class="btn btn-primary">Goto Rates</button></a>
                                        {% endif %}
                                    {% else %}
                                        Complete Entries First
                                    {% endif %}
                                {% endif %}
                            </td>
                            <th>Total Done</th>
                            <td>{{ challan.status }}</td>
                        </tr>
                    </tbody>
                </table>
                {% include "portal/goback_btn.html" %}
            </div>
        </div>
    </div>

{% endblock %}